.Contact {
  background: #361e46;
  height: 35%;
  display: flex;
  align-items: center;
}

.Contact .ContactIcons {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Contact .ContactIcons svg path {
  cursor: pointer;
}
